.search-icon-input {
    margin: 0px auto;
    display: block;
    padding: 25px;
}
.search-icon-input-form {
    margin: 0px auto;
    display: inline-block;
    border-radius: 20px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    transform: scale(1);
    transition: .2s ease;

}
.search-icon-input-form > input {
    margin-top: 3px;
    display: block;
    float: right;
    padding-left: 10px;
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 0.9em;
    color: #29b6f6;
}
.search-icon-input-form:hover {
    background-color: #fafafa;
    box-shadow: 3px 2.5px 11px -1px;
    transform: scale(1.05)
}